@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #707070;
  display: flex;
  padding-top: 1rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
  width: 1000px;
  height: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 300px;
  box-shadow: 4px 4px 9px rgba(75, 74, 74, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
  text-align: center;
}

.item {
  width: 280px;
  border: 1px solid #eee;
  border-radius: 20px;
  background: #f7f6f7;
  padding: 0.8rem;
  color: #828282;
  justify-items: center;
  justify-content: center;
  cursor: grab;
}

.newItem {
  display: flex;
  padding: 2rem 2rem;
  width: 1000px;
  justify-content: center;
}

.button {
  border: 1px #eee;
  width: 150px;
  border-radius: 0px 20px 20px 0px;
  padding: 0.8rem 1rem;
  color: #fff;
  background: linear-gradient(90deg, #e4b73a 0%, #ff85e4 100%);
  cursor: grab;
  font-family: "Roboto", sans-serif;
}

.textInput {
  border: solid #eee;
  width: 450px;
  border-radius: 20px;
  padding: 0.8rem 1rem;
  background: #f7f6f7;
  font-family: "Roboto", sans-serif;
  border-radius: 20px 0px 0px 20px;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  display: grid;
  grid-auto-rows: minmax(10px auto);
  align-content: start;
  justify-content: center;
}

.start {
  background: linear-gradient(90deg, #ff85e4 0%, #229efd 179.25%);
}

.progress {
  background: linear-gradient(90deg, #209cff 0%, #68e0cf 100%);
}

.done {
  background: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
}

.hold {
  font:lighter black;
  box-shadow: 10px 10px 15px rgba(53, 52, 52, 0.6);
}

.hide {
  display: none;
}

.hovered {
  border-top: 2px solid rgb(78, 78, 78);
  animation: hovered 0.25s infinite;
}


@keyframes hovered {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(2deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-2deg); }
  100% { transform: rotate(0deg); }
}

